config classification: not-suspicious,Not Suspicious Traffic,3
config classification: unknown,Unknown Traffic,3
config classification: attempted-recon,Attempted Information Leak,2
config classification: attempted-admin,Attempted Administrator Privilege Gain,1
config classification: attempted-user,Attempted User Privilege Gain,1
config classification: network-scan,Detection of a Network Scan,3
config classification: misc-activity,Misc activity,3
